@using System
@using SpeedRunApp.WebUI
@model SpeedRunApp.Model.SpeedRunViewModel

<div class="bg-white mx-auto speedRunSummary" style="width:598px; margin-bottom:20px;">
    <div class="container d-flex p-0">
        <div class="p2 col-2 align-self-center">
            <div class="img-round">
                <img src="@Model.GameCoverImageUri" class="img-fluid" alt="Responsive image">
            </div>
        </div>
        <div class="p-2 align-self-center">
            <div>
                <small class="text-muted">Posted @Model.RealtiveSubmittedDateString</small>
            </div>
            <div>
                <h5>
                    @Html.ActionLink(@Model.GameName, "GameDetails", "Game", new { gameID = @Model.GameID }, new { @class = "text-dark" })
                    <small class="text-secondary">@Model.CategoryName</small>
                </h5>
            </div>
            <div class="row no-gutters text-secondary">
                <div class="col-xs-4">
                    @Model.PlayerName
                </div>
                <div class="col-xs-4 ml-1">
                    - @Model.PrimaryRunTimeString
                </div>
                <div class="col-xs-4 ml-1">
                </div>
            </div>
        </div>
        <div class="p-2 ml-auto align-self-center">
            @Html.ActionLink("Details", "SpeedRunDetails", "SpeedRun", null, new { @class = "btn btn-primary btn-large" })
        </div>
    </div>
    <div>
        <iframe src="@Model.VideoLinkEmbedded"
                height="337"
                width="100%"
                frameborder="0"
                scrolling="no"
                allowfullscreen="true"></iframe>
    </div>
</div>



