@using Microsoft.Extensions.Configuration
@using System.Security.Claims
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@inject IConfiguration Configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>@ViewData["Title"] - SpeedRunCharts</title>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/dist/fonts/pie-chart.svg")" />

    <environment include="Development">
        <link rel="stylesheet" href="~/dist/vendor.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dist/style.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dist/master.min.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/vendor.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dist/style.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dist/master.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body class="@(Context.Request.Cookies["theme"] ?? Configuration.GetSection("SiteSettings").GetSection("DefaultTheme").Value)">
    <div id="vue-app">
        <navbar :isauth="@Json.Serialize(User.Identity.IsAuthenticated)" :userid="'@User.FindFirst(ClaimTypes.NameIdentifier)?.Value'" :username="'@User.FindFirst(ClaimTypes.Name)?.Value'" :isdarktheme="@Json.Serialize(((Context.Request.Cookies["theme"] ?? Configuration.GetSection("SiteSettings").GetSection("DefaultTheme").Value) == "theme-dark"))"></navbar>
        <div class="container-fluid body-content">
            @RenderBody()
            <hr />
            <footer class="footer">
                <p>&copy; 2021 - SpeedRunCharts</p>
            </footer>
        </div>
    </div>
    <environment include="Development">
        <script src="@Url.Content("~/dist/master.min.js")" asp-append-version="true"></script>
        <script src="@Url.Content("~/dist/vendor.min.js")" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="@Url.Content("~/dist/master.min.js")" asp-append-version="true"></script>
        <script src="@Url.Content("~/dist/vendor.min.js")" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
