@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpeedRunStats</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
        <link rel="stylesheet" href="~/lib/select2/css/select2.css" />

        <link rel="stylesheet" href="~/css/site.css?v=10/12/2020" />
        <link rel="stylesheet" href="~/css/bootstrap-theme.css?v=10/12/2020" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.min.css" />
        <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />

        <link rel="stylesheet" href="~/css/site.css?v=10/12/2020" />
        <link rel="stylesheet" href="~/css/bootstrap-theme.css?v=10/12/2020" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body class="@(Context.Request.Cookies["theme"] ?? Configuration.GetSection("SiteSettings").GetSection("DefaultTheme").Value)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" asp-area="" asp-controller="SpeedRun" asp-action="SpeedRunList">SpeedRunStats</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="SpeedRun" asp-action="SpeedRunList">Home</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <span class="icon-wrapper">
                    <input id="txtGameUserSearch" class="form-control mr-sm-2" type="text" placeholder="Search Games, Users, etc." aria-label="Search" style="width:300px;">
                </span>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>
                            <i class="fa fa-user"></i>
                        </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item custom-control custom-switch">
                            <input id="chkNightMode" type="checkbox" class="custom-control-input" data-toggle="toggle" @((Context.Request.Cookies["theme"] ?? Configuration.GetSection("SiteSettings").GetSection("DefaultTheme").Value) == "theme-dark" ? "checked" : string.Empty)>
                            <label class="custom-control-label pl-1" for="chkNightMode"><i class="fa fa-moon"></i><span class="pl-2">Night Mode</span></label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer class="footer">
            <p>&copy; 2020 - SpeedRunStats</p>
        </footer>
    </div>
    <environment include="Development">
        <script src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>
        <script src="@Url.Content("~/lib/jqueryui/jquery-ui.js")"></script>
        <script src="@Url.Content("~/lib/jquery-ui-multiselect-widget/jquery.multiselect.js")"></script>
        <script src="@Url.Content("~/lib/select2/js/select2.js")"></script>
        <script src="@Url.Content("~/lib/underscore.js/underscore.js")"></script>
        <script src="@Url.Content("~/lib/bootstrap/js/bootstrap.bundle.js")"></script>

        <script src="@Url.Content("~/js/common.js?v=10/10/2020")"></script>
        <script src="@Url.Content("~/js/layout.js?v=10/10/2020")"></script>
    </environment>
    <environment exclude="Development">
        <script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>
        <script src="@Url.Content("~/lib/jqueryui/jquery-ui.min.js")"></script>
        <script src="@Url.Content("~/lib/jquery-ui-multiselect-widget/jquery.multiselect.min.js")"></script>
        <script src="@Url.Content("~/lib/select2/js/select2.min.js")"></script>
        <script src="@Url.Content("~/lib/underscore.js/underscore-min.js")"></script> 
        <script src="@Url.Content("~/lib/bootstrap/js/bootstrap.bundle.min.js")"></script>

        <script src="@Url.Content("~/js/common.js?v=10/10/2020")"></script>
        <script src="@Url.Content("~/js/layout.js?v=10/10/2020")"></script>
    </environment>
    <script type="text/javascript">
        $().ready(function () {
            var maxElementsPerPage = @Json.Serialize(Configuration.GetSection("ApiSettings").GetSection("MaxElementsPerPage").Value);
            var requestLimit = @Json.Serialize(Configuration.GetSection("ApiSettings").GetSection("RequestLimit").Value);
            var timeLimitMS = @Json.Serialize(Configuration.GetSection("ApiSettings").GetSection("TimeLimitMS").Value);
            var defaultTheme = @Json.Serialize(Configuration.GetSection("SiteSettings").GetSection("DefaultTheme").Value);

            initializeGlobalClient(maxElementsPerPage, requestLimit, timeLimitMS, defaultTheme);
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
