@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Configuration
@using System.Security.Claims;
@using SpeedRunCommon.Extensions;
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@inject IConfiguration Configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpeedRunCharts</title>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/images/pie-chart.svg")" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
        <link rel="stylesheet" href="~/lib/select2/css/select2.css" />
        <link rel="stylesheet" href="~/lib/choices.js/choices.css" />
        <link rel="stylesheet" href="~/lib/vanillajs-datepicker/dist/css/datepicker.css" />

        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/bootstrap-theme.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.min.css" />
        <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
        <link rel="stylesheet" href="~/lib/choices.js/choices.min.css" />
        <link rel="stylesheet" href="~/lib/vanillajs-datepicker/dist/css/datepicker.css" />

        <link rel="stylesheet" href="~/css/site.css?v=01/20/2021" />
        <link rel="stylesheet" href="~/css/bootstrap-theme.css?v=06/10/2021" />
    </environment>
    @RenderSection("Styles", required: false)
    <environment include="Development">
        <script src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>
        <script src="@Url.Content("~/lib/jqueryui/jquery-ui.js")"></script>
        <script src="@Url.Content("~/lib/jquery-ui-multiselect-widget/jquery.multiselect.js")"></script>
        <script src="@Url.Content("~/lib/select2/js/select2.js")"></script>
        <script src="@Url.Content("~/lib/choices.js/choices.js")"></script>
        <script src="@Url.Content("~/lib/underscore.js/underscore.js")"></script>
        <script src="@Url.Content("~/lib/vue/vue.global.js")"></script>
        <script src="@Url.Content("~/lib/axios/axios.js")"></script>
        <script src="@Url.Content("~/lib/vanillajs-datepicker/dist/js/datepicker-full.js")"></script>

        <script src="@Url.Content("~/components/speedrun-list-category-vue.js")"></script>
        <script src="@Url.Content("~/components/speedrun-list-vue.js")"></script>
        <script src="@Url.Content("~/components/speedrun-summary-vue.js")"></script>
        <script src="@Url.Content("~/components/speedrun-edit-vue.js")"></script>
        <script src="@Url.Content("~/components/multi-select-vue.js")"></script>
        <script src="@Url.Content("~/components/datepicker-vue.js")"></script>

        <script src="@Url.Content("~/js/common.js?v=07/09/2021")"></script>
        <script src="@Url.Content("~/js/layout.js")"></script>
    </environment>
    <environment exclude="Development">
        <script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>
        <script src="@Url.Content("~/lib/jqueryui/jquery-ui.min.js")"></script>
        <script src="@Url.Content("~/lib/jquery-ui-multiselect-widget/jquery.multiselect.min.js")"></script>
        <script src="@Url.Content("~/lib/select2/js/select2.min.js")"></script>
        <script src="@Url.Content("~/lib/choices.js/choices.min.js")"></script>
        <script src="@Url.Content("~/lib/underscore.js/underscore-min.js")"></script>
        <script src="@Url.Content("~/lib/vue/vue.global.prod.min.js")"></script>
        <script src="@Url.Content("~/lib/axios/axios.min.js")"></script>
        <script src="@Url.Content("~/lib/vanillajs-datepicker/dist/js/datepicker-full.min.js")"></script>

        <script src="@Url.Content("~/components/speedrun-list-category-vue.js")"></script>
        <script src="@Url.Content("~/components/speedrun-list-vue.js")"></script>
        <script src="@Url.Content("~/components/speedrun-summary-vue.js")"></script>
        <script src="@Url.Content("~/components/speedrun-edit-vue.js")"></script>
        <script src="@Url.Content("~/components/multi-select-vue.js")"></script>
        <script src="@Url.Content("~/components/datepicker-vue.js")"></script>

        <script src="@Url.Content("~/js/common.js?v=12/23/2020")"></script>
        <script src="@Url.Content("~/js/layout.js?v=06/18/2021")"></script>
    </environment>
    <script type="text/javascript">
        $().ready(function () {

            var maxElementsPerPage = @Json.Serialize(Configuration.GetSection("ApiSettings").GetSection("MaxElementsPerPage").Value);
            var requestLimit = @Json.Serialize(Configuration.GetSection("ApiSettings").GetSection("RequestLimit").Value);
            var timeLimitMS = @Json.Serialize(Configuration.GetSection("ApiSettings").GetSection("TimeLimitMS").Value);
            var defaultTheme = @Json.Serialize(Configuration.GetSection("SiteSettings").GetSection("DefaultTheme").Value);

            initializeGlobalClient(maxElementsPerPage, requestLimit, timeLimitMS, defaultTheme);
        });
    </script>
    @RenderSection("Scripts", required: false)
</head>
<body class="@(Context.Request.Cookies["theme"] ?? Configuration.GetSection("SiteSettings").GetSection("DefaultTheme").Value)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" asp-area="" asp-controller="SpeedRun" asp-action="SpeedRunList">
            <img src="@Url.Content("~/images/pie-chart.svg")" width="30" height="30" class="d-inline-block align-top pr-1" alt="">
            SpeedRunCharts
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("About", "About", "Menu", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item active p-2">
                    <a href="https://github.com/speedruncomorg/api" class="badge badge-primary nav-link">Powered by speedrun.com API</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <span class="icon-wrapper">
                    <input id="txtMenuSearch" class="form-control mr-sm-2" type="text" placeholder="Search Games, Users, etc." aria-label="Search" style="width:300px;">
                </span>
            </form>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>
                            <i class="fa fa-user"></i><span class="pl-2">@User.FindFirst(ClaimTypes.Name).Value</span>
                        </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item custom-control custom-switch">
                            <input id="chkNightMode" type="checkbox" class="custom-control-input" data-toggle="toggle" @((Context.Request.Cookies["theme"] ?? Configuration.GetSection("SiteSettings").GetSection("DefaultTheme").Value) == "theme-dark" ? "checked" : string.Empty)>
                            <label class="custom-control-label pl-1" for="chkNightMode"><i class="fa fa-moon"></i><span class="pl-2">Night Mode</span></label>
                        </div>
                        <div class="dropdown-item">
                            <a href="/SpeedRun/Logout" class="text-secondary pl-4"><i class="fa fa-sign-out-alt"></i><span class="pl-2">Log out</span></a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:showLogin();">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:showSignUp();">Sign Up</a>
                    </li>
                </ul>
            }
        </div>
    </nav>
    <div id="vue-app" class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer class="footer">
            <p>&copy; 2021 - SpeedRunCharts</p>
        </footer>
    </div>
    <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header p-0">
                    <div class="modal-title align-self-center pl-3" id="modal-title"><h5>Login</h5></div>
                    <button type="button" class="close m-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0 m-3">
                </div>
            </div>
        </div>
    </div>
    @(("wwwroot/components/SpeedRunListCategoryVue.html").IncludeFile(hostingEnv))
    @(("wwwroot/components/SpeedRunListVue.html").IncludeFile(hostingEnv))
    @(("wwwroot/components/SpeedRunSummaryVue.html").IncludeFile(hostingEnv))
    @(("wwwroot/components/SpeedRunEditVue.html").IncludeFile(hostingEnv))
    @(("wwwroot/components/MultiSelectVue.html").IncludeFile(hostingEnv))
</body>
</html>
