@model SpeedRunApp.Model.ViewModels.SearchSpeedRunGridViewModel

<div id="divSearch">
    <form id="frmSearch" method="post">
        <div class="row no-gutters">
            <div class="form-group">
                <label>Start Date</label>
                <span class="date-icon-wrapper"><input id="txtStartDate" type="text" class="date" value="" /></span>
            </div>
            <div class="form-group">
                <label for="txtEndDate">End Date</label>
                <span class="date-icon-wrapper"><input id="txtEndDate" type="text" class="date" value="" /></span>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="form-group">
                <label for="drpCategoryTypes">Category Type</label>
                @Html.ListBox("drpCategoryTypes", new SelectList(Model.CategoryTypes, "ID", "Name", -1), new { @style = "width:250px", @class = "chosen" })
            </div>
            <div class="form-group" style="@(Model.Sender == "Game" ? "display:none;" : "")">
                <label for="drpGames">Game</label>
                @Html.ListBox("drpGames", new SelectList(Model.Games, "ID", "Name", -1), new { @style = "width:250px", @class = "chosen" })
            </div>
        </div>
        <div class="row no-gutters">
            <div class="form-group">
                <label for="drpCategories">Category</label>
                @Html.ListBox("drpCategories", new SelectList(Model.Categories, "ID", "Name", -1), new { @style = "width:250px", @class = "chosen" })
            </div>
            <div id="divLevels" class="form-group" style="display:none;">
                <label for="drpLevels">Level</label>
                @Html.ListBox("drpLevels", new SelectList(Model.Levels, "ID", "Name", -1), new { @style = "width:250px", @class = "chosen" })
            </div>
        </div>
        <div class="row no-gutters pt-1">
            <div class="form-group">
                <input id="btnSearch" type="button" class="btn btn-primary" value="search"/>
            </div>
        </div>
    </form>
</div>

