@using System
@using SpeedRunApp.WebUI
@model SpeedRunApp.Model.SpeedRunViewModel

<div style="width:598px; margin-top:10px;">
    <div class="container d-flex h-100">
        <div class="mr-auto">
            <div>
                <small class="text-muted">Posted @Model.RealtiveSubmittedDateString</small>
            </div>
            <div>
                <h4>@Model.GameName <small class="text-secondary">@Model.CategoryName</small></h4>
            </div>
            <div class="row no-gutters text-secondary">
                <div class="col-xs-4">
                    @Model.PlayerName
                </div>
                <div class="col-xs-4 ml-1">
                    - @Model.PrimaryRunTimeString
                </div>
                <div class="col-xs-4 ml-1">
                </div>
            </div>
        </div>
        <div class="align-self-center">
            @Html.ActionLink("Details", "SpeedRunDetails", "SpeedRun", null, new { @class = "btn btn-primary btn-large" })
        </div>
    </div>
    <div>
        <iframe src="@Model.VideoLinkEmbedded"
                height="337"
                width="100%"
                frameborder="0"
                scrolling="no"
                allowfullscreen="true"></iframe>
    </div>
</div>



