@using SpeedRunCommon;
@model SpeedRunApp.Model.ViewModels.UserDetailsViewModel

@{
    ViewBag.Title = "UserDetails";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/free-jqgrid/css/ui.jqgrid.css" />
    <link rel="stylesheet" href="~/css/free-jqgrid-custom.css" />
    <link rel="stylesheet" href="~/css/scroller-tab.css" />

    <style>
        .brand-logo {
            width: 25px;
        }
    </style>
}

@section Scripts {
    <script src="@Url.Content("~/lib/free-jqgrid/jquery.jqgrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/moment.js/moment.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/js/helpers/date-helper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/helpers/ajax-helper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/helpers/template-helper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/helpers/math-helper.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/js/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/user-details.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/scroller-tab.js")" type="text/javascript"></script>

    <script>$().ready(initializeClient());</script>
}

<div class="container-fluid">
    <div class="container ml-0">
        <div class="row no-gutters p-0 d-flex">
            <div class="p-2 col-sm-2 align-self-center" style="@((Model.ProfileImage == null) ? "display:none" : "")">
                <div class="img-round">
                    <img src="@Model.ProfileImage" alt="Responsive image">
                </div>
            </div>
            <div class="pr-4 align-self-end">
                <h2 class="m-0">@Model.Name</h2>
            </div>
            <div class="p-1 align-self-end" style="@((Model.TwitterProfile == null) ? "display:none" : "")">
                <a href="@Model.TwitterProfile"><img src="@Url.Content("~/images/Twitter_Logo_WhiteOnBlue.svg")" class="img-fluid brand-logo" alt="Responsive image"></a>
            </div>
            <div class="p-1 align-self-end" style="@((Model.TwitchProfile == null) ? "display:none" : "")">
                <a href="@Model.TwitchProfile"><img src="@Url.Content("~/images/TwitchGlitchPurple.svg")" class="img-fluid brand-logo" alt="Responsive image"></a>
            </div>
            <div class="p-1 align-self-end" style="@((Model.YoutubeProfile == null) ? "display:none" : "")">
                <a href="@Model.YoutubeProfile"><img src="@Url.Content("~/images/youtube_social_square_red.svg")" class="img-fluid brand-logo" alt="Responsive image"></a>
            </div>
        </div>
    </div>
    <div class="container ml-0">
        <div class="row no-gutters p-0">
            <div class="left">
                <label>Category Type</label>
                @Html.DropDownList("drpGames", new SelectList(Model.SearchGames, "ID", "Name", -1))
            </div>
            <div class="left">
                <label>Game</label>
                @Html.DropDownList("drpGames", new SelectList(Model.SearchGames, "ID", "Name", -1))
            </div>
            <div class="left">
                <label>Category</label>
                @Html.DropDownList("drpGames", new SelectList(Model.SearchGames, "ID", "Name", -1))
            </div>
        </div>
    </div>
    <div class="grid-container mx-auto" style="width:50%;">
        <div class="row no-gutters p-1">
            <div class="col-auto align-self-end ">
                <label class="font-weight-bold">Category Type:</label>
            </div>
            <div class="col pl-2">
                <ul class="nav nav-pills">
                    @for (int a = 0; a < Model.CategoryTypes.Count; a++)
                    {
                        <li class="nav-item categoryType">
                            <a id="ankCategoryType-@(a)-tab" class="nav-link @(a == 0 ? "active" : string.Empty)" href="#divCategoryType-@(a)" data-toggle="pill">@Model.CategoryTypes[a].ToString()</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        @for (int b = 0; b < Model.CategoryTypes.Count; b++)
        {
            var games = Model.Games?.Where(i => Model.SpeedRuns.Any(x=> x.Category.Type == Model.CategoryTypes[b] &&  x.GameID == i.ID)).ToList();
            <div id="divCategoryType-@(b)" class="categoryType-tab-pane p-0 @(b == 0 ? "show" : string.Empty)">
                <div class="game-tabs row no-gutters px-1 pt-1 pb-0 scroller-tab-wrapper">
                    <div class="col align-self-end"><label class="font-weight-bold">Game:</label></div>
                    <div class="col-11 pl-2">
                        <div class="row no-gutters">
                            <div class="scroller-tab scroller-tab-left" style="width:25px;"><i class="fa fa-angle-left"></i></div>
                            <div class="col scroller-tab-list-container">
                                <ul class="nav nav-tabs scroller-tab-list">
                                    @for (int c = 0; c < games.Count; c++)
                                    {
                                        <li class="nav-item game">
                                            <a id="ankCategoryType-@(b.ToString() + "-Game-" + c.ToString())-tab" class="nav-link @((c == 0) ? "active" : string.Empty)" href="#divCategoryType-@(b.ToString() + "-Game-" + c.ToString())" data-toggle="tab">@games[c].Name</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="scroller-tab scroller-tab-right" style="width:25px;"><i class="fa fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                @for (int d = 0; d < games.Count; d++)
                {
                    var categories = Model.Categories.Where(i => Model.SpeedRuns.Any(x => x.GameID == games[d].ID && x.Category.Type == Model.CategoryTypes[b] && x.CategoryID == i.ID)).ToList();
                    <div id="divCategoryType-@(b.ToString() + "-Game-" + d.ToString())" class="game-tab-pane @((d == 0) ? "show" : string.Empty)">
                        <div class="category-tabs row no-gutters px-1 pt-1 pb-0 scroller-tab-wrapper">
                            <div class="col align-self-end"><label class="font-weight-bold">Category:</label></div>
                            <div class="col-11 pl-2">
                                <div class="row no-gutters">
                                    <div class="scroller-tab scroller-tab-left" style="width:25px;"><i class="fa fa-angle-left"></i></div>
                                    <div class="col scroller-tab-list-container">
                                        <ul class="nav nav-tabs scroller-tab-list">
                                            @for (int e = 0; e < categories.Count; e++)
                                            {
                                                <li class="nav-item category">
                                                    <a id="ankCategoryType-@(b.ToString() + "-Game-" + d.ToString() + "-Category-" + e.ToString())-tab" class="nav-link @((e == 0) ? "active" : string.Empty)" href="#divCategoryType-@(b.ToString() + "-Game-" + d.ToString() + "-Category-" + e.ToString())" data-toggle="tab" data-categorytype="@(((int)categories[e].Type))">@categories[e].Name</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="scroller-tab scroller-tab-right" style="width:25px;"><i class="fa fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        @for (int g = 0; g < categories.Count; g++)
                        {
                            var levels = Model.Levels.Where(i => Model.SpeedRuns.Any(x=> x.GameID == games[d].ID && x.Category.Type == Model.CategoryTypes[b] && x.CategoryID == categories[g].ID && x.LevelID == i.ID)).ToList();
                            <div id="divCategoryType-@(b.ToString() + "-Game-" + d.ToString() + "-Category-" + g.ToString())" class="category-tab-pane @((g == 0) ? "show" : string.Empty)">
                                <div class="level-tabs row no-gutters px-1 pt-1 pb-0 scroller-tab-wrapper">
                                    <div class="col align-self-end"><label class="font-weight-bold">Level:</label></div>
                                    <div class="col-11 pl-2">
                                        <div class="row no-gutters">
                                            <div class="scroller-tab scroller-tab-left" style="width:25px;"><i class="fa fa-angle-left"></i></div>
                                            <div class="col scroller-tab-list-container">
                                                <ul class="nav nav-tabs scroller-tab-list">
                                                    @for (int h = 0; h < levels.Count; h++)
                                                    {
                                                        <li class="nav-item level">
                                                            <a id="ankCategoryType-@(b.ToString() + "-Game-" + d.ToString() + "-Category-" + g.ToString() + "-Level-" + h.ToString())-tab" class="nav-link @((h == 0) ? "active" : string.Empty)" href="#divCategoryType-@(b.ToString() + "-Game-" + d.ToString() + "-Category-" + g.ToString() + "-Level-" + h.ToString())" data-toggle="tab">@levels[h].Name</a>
                                                        </li>
                                                        h++;
                                                    }
                                                </ul>
                                            </div>
                                            <div class="scroller-tab scroller-tab-right" style="width:25px;"><i class="fa fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divCategoryType-@(b.ToString() + "-Game-" + d.ToString() + "-Category-" + g.ToString() + "-Level-NA")" class="category-results" data-userid="@Model.ID" data-gameid="@games[d].ID" data-categorytype="@(((int)categories[g].Type))" data-categoryid="@categories[g].ID">
                                    <table class="grid"></table>
                                    <div id="divPager-@(b.ToString() + "-Game-" + d.ToString() + "-Category-" + g.ToString() + "-Level-NA")" class="pager"></div>
                                </div>
                                <div class="level-results">
                                    @for (int i = 0; i < levels.Count; i++)
                                    {
                                        <div id="divCategoryType-@(b.ToString() + "-Game-" + d.ToString() + "-Category-" + g.ToString() + "-Level-" + i.ToString())" class="level-tab-pane" data-userid="@Model.ID" data-gameid="@games[d].ID" data-categorytype="@(((int)categories[g].Type))" data-categoryid="@categories[g].ID" data-levelid="@levels[i].ID">
                                            <table class="grid"></table>
                                            <div id="divPager-@(b.ToString() + "-Game-" + d.ToString() + "-Category-" + g.ToString() + "-Level-" + i.ToString())" class="pager"></div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
<div id="videoLinkModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="height:700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div id="loading">
                    <div class="d-flex">
                        <div class="mx-auto">
                            <i class="fas fa-spinner fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>















