@using SpeedRunCommon.Extensions;
@model SpeedRunApp.Model.ViewModels.GameViewModel

@section Styles {
    <style>
    </style>
}

@section Scripts {
    <script type="text/javascript">
    </script>
}

<div class="container p-0">
    @if (Model == null)
    {
        <div class="container mx-auto p-0" style="max-width:500px;">
            <div style="text-align:center;">
                <i class="fa fa-search fa-lg"></i>
                <div><span>Game not found, please search for the game by name and try again</span></div>
            </div>
        </div>
    }
    else
    {
        <div class="container ml-0 p-0 d-flex">
            <div class="col-sm-2 p-0 align-self-end img-width" style="max-width:84px;">
                <div class="img-width" style="max-width:84px;">
                    <div class="img-round">
                        <img src="@Model.CoverImageUri" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
            </div>
            <div class="col-sm px-1 align-self-end">
                <h5 class="m-0 font-weight-bold">
                    @Model.Name&nbsp;&nbsp;@(Model.YearOfRelease.HasValue ? "(" + Model.YearOfRelease.ToString() + ")" : string.Empty)
                </h5>
            </div>
        </div>
        <div>
            <div class="container ml-0 p-0 mt-4">
                <h5 class="font-weight-bold mb-2">Details</h5>
                @if (!string.IsNullOrWhiteSpace(Model.PlatformsString))
                {
                    <div class="row no-gutters">
                        <div class="col-auto pr-2">
                            <label for="spnPlatforms" class="col-form-label pt-0 pb-1 font-weight-bold">Platforms</label>
                            <div>
                                <span id="spnPlatforms" class="form-control" style="max-width: 300px; width: auto; height: auto; font-size:14px;">@Model.PlatformsString</span>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.Moderators != null && Model.Moderators.Any())
                {
                    <div class="row no-gutters pt-1">
                        <div class="col-auto">
                            <label for="spnModerators" class="col-form-label pt-0 pb-1 font-weight-bold">Moderators</label>
                            <div>
                                <span id="spnModerators" class="form-control" style="max-width: 300px; width:auto; height:auto; font-size:14px;">
                                    @Html.CommaSeparated(Model.Moderators.Select(i => Html.ActionLink(i.Name, "UserDetails", "User", new { userID = i.ID }).ToHtmlString()))
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="container p-0 mt-4">
                <h5 class="font-weight-bold mb-1">World Records</h5>
                <worldrecord-grid-tab :isgame="true" :id="'@Model.ID'"></worldrecord-grid-tab>
            </div>
            <div class="container p-0 mt-4">
                <h5 class="font-weight-bold mb-1">Leaderboards</h5>
                <speedrun-grid-tab :isgame="true" :id="'@Model.ID'"></speedrun-grid-tab>
            </div>
        </div>
    }
</div>
















