@using SpeedRunCommon;
@model SpeedRunApp.Model.GameDetailsViewModel

@{
    ViewBag.Title = "GameDetails";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/free-jqgrid/css/ui.jqgrid.css" />
    <link rel="stylesheet" href="~/css/scroller-tab.css" />
}

@section Scripts {
    <script src="@Url.Content("~/lib/free-jqgrid/jquery.jqgrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/game-details.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/scroller-tab.js")" type="text/javascript"></script>

    <script>
        $(document).ready(InitializeClient);
        $(document).ready(InitializeScroller);
    </script>
}

<div>
    <div class="container-fluid d-flex p-0">
        <div class="p-2 col-sm-2 align-self-center">
            <div class="img-round">
                <img src="@Model.CoverImageUri" alt="Responsive image">
            </div>
        </div>
        <div class="p-2 align-self-end">
            <h2>@Model.Name</h2>
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters p-1 d-flex">
            <label class="align-self-end font-weight-bold">Cateogry Type:</label>
            <ul class="nav nav-pills pl-2" role="tablist">
                @{
                    int n = 0;
                    @foreach (CategoryType categoryType in Model.CategoryTypes)
                    {
                        <li class="nav-item categoryType">
                            <a id="pills-ankCategoryType-@(n)-tab" class="nav-link @(n == 0 ? "active" : string.Empty)" data-toggle="pill" href="#divCategoryType-@(n)" role="tab" aria-controls="divCategoryType-@(n)" aria-selected="@(n == 0 ? "true" : "false")">@categoryType.ToString()</a>
                        </li>
                        n++;
                    }
                }
            </ul>
        </div>
        <div class="tab-content">
            @{
                int i = 0;
                @foreach (CategoryType categoryType in Model.CategoryTypes)
                {
                    <div id="divCategoryType-@(i)" class="container p-0 tab-pane fade @(i == 0 ? "show active" : string.Empty)" role="tabpanel">
                        <div class="scroller-tab scroller-tab-left"><i class="fa fa-angle-left"></i></div>
                        <div class="scroller-tab scroller-tab-right"><i class="fa fa-angle-right"></i></div>
                        <div class="row no-gutters d-flex scroller-tab-wrapper">
                            <label class="align-self-end font-weight-bold">Cateogry:</label>
                            <ul class="nav nav-tabs scroller-tab-list" style="left:85px;" role="tablist">
                                @{
                                    int g = 0;
                                    @foreach (var category in Model.Categories?.Where(h => h.Type == categoryType))
                                    {
                                        <li class="nav-item category">
                                            <a id="ankCategory-@(category.Type.ToString() + "-" + g.ToString())-tab" class="nav-link @((g == 0) ? "active" : string.Empty)" data-toggle="tab" href="#divCategory-@(category.Type.ToString() + "-" + g.ToString())" role="tab" aria-controls="divCategory-@(category.Type.ToString() + "-" + g.ToString())" aria-selected="@(g == 0 ? "true" : "false")">@category.Name</a>
                                        </li>
                                        g++;
                                    }
                                }
                            </ul>
                        </div>
                        <div class="tab-content">
                            @{
                                int b = 0;
                                @foreach (var category in Model.Categories?.Where(h => h.Type == ((CategoryType)i)))
                                {
                                    <div id="divCategory-@(category.Type.ToString() + "-" + b.ToString())" class="tab-pane fade @((b == 0) ? "show active" : string.Empty)" role="tabpanel" data-gameid="@Model.ID" data-categoryid="@category.ID" data-categorytype="@(((int)category.Type))">
                                        <table class="grid"></table>
                                        <div id="divPager-@(category.Type.ToString() + "-" + b.ToString())" class="pager"></div>
                                    </div>
                                    b++;
                                }
                            }
                        </div>
                    </div>
                    i++;
                }
            }
        </div>
    </div>
    <div id="videoLinkModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="height:700px;">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div id="loading">
                        <div class="d-flex">
                            <div class="mx-auto">
                                <i class="fas fa-spinner fa-spin fa-lg"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>















