@using SpeedRunCommon.Extensions;
@model SpeedRunApp.Model.ViewModels.GameViewModel

@section Styles {
    <style>
    </style>
}

@section Scripts {
    <script type="text/javascript">
    </script>
}

<div class="container-fluid p-0">
    <div class="container ml-0 p-2 d-flex">
        <div class="col-sm-2 p-2 align-self-end">
            <div class="img-round">
                <img src="@Model.CoverImageUri" class="img-fluid" alt="Responsive image">
            </div>
        </div>
        <div class="col-sm-auto p-2 align-self-end">
            <h3 class="m-0">@Model.Name</h3>
        </div>
    </div>
    <div class="container ml-0 p-2 pt-3">
        <h4>Details</h4>
        <div class="pl-3">
            <div class="form-group row no-gutters">
                <label for="spnYearOfRelease" class="col-sm-2 col-form-label">Release Year</label>
                <div class="col-sm-10 col-form-label">
                    <span id="spnYearOfRelease">@Model.YearOfRelease</span>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label for="spnPlatforms" class="col-sm-2 col-form-label">Platforms</label>
                <div class="col-sm-10 col-form-label">
                    <span id="spnPlatforms">@Model.PlatformsString</span>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label for="spnModerators" class="col-sm-2 col-form-label">Moderators</label>
                <div class="col-sm-10 col-form-label">
                    <span id="spnModerators">
                        @Html.CommaSeparated(Model.Moderators.Select(i => Html.ActionLink(i.Name, "UserDetails", "User", new { userID = i.ID }).ToHtmlString()))
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-2 pt-3">
        <h4>Leaderboards</h4>
        <div id="divSpeedRunGridContainer" class="pl-3 pt-2">
            <speedrun-grid-tab :isgame="true" :id="'@Model.ID'"></speedrun-grid-tab>
        </div>
    </div>
</div>
















