@using SpeedRunCommon;
@model SpeedRunApp.Model.ViewModels.GameDetailsViewModel

@{
    ViewBag.Title = "GameDetails";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/free-jqgrid/css/ui.jqgrid.css" />
    <link rel="stylesheet" href="~/css/free-jqgrid-custom.css" />
    <link rel="stylesheet" href="~/css/scroller-tab.css" />
    <link rel="stylesheet" href="~/css/game-details.css" />
}

@section Scripts {
    <script src="@Url.Content("~/lib/free-jqgrid/jquery.jqgrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/moment.js/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/fusioncharts/fusioncharts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/fusioncharts/fusioncharts.charts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/fusioncharts/fusioncharts.widgets.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/fusioncharts/themes/fusioncharts.theme.fusion.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/jquery-fusioncharts/dist/fusioncharts.jqueryplugin.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/js/dashboard-loader.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/chart-loader.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/helpers/date-helper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/helpers/ajax-helper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/helpers/template-helper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/helpers/math-helper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/chart-definitions/fusion-multi-series-chart.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/js/charts/chart-definitions/fusion-pie-chart.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/chart-definitions/fusion-stacked-bar-chart.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/chart-definitions/fusion-multi-series-line-chart.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/js/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/game-details.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/scroller-tab.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/speed-runs-reported-configuration.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/speed-runs-reported-controller.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/speed-runs-by-user-configuration.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/speed-runs-by-user-controller.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/speed-run-summary-by-month-configuration.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/speed-run-summary-by-month-controller.js")" type="text/javascript"></script>
    <script>
        $().ready(initializeClient());
    </script>
}

<div class="container-fluid">
    <div class="container ml-0">
        <div class="row no-gutters p-0 d-flex">
            <div class="p-2 col-sm-2 align-self-center">
                <div class="img-round">
                    <img src="@Model.CoverImageUri" alt="Responsive image">
                </div>
            </div>
            <div class="p-2 align-self-end">
                <h2 class="m-0">@Model.Name</h2>
            </div>
        </div>
    </div>
    <div class="mx-auto" style="width:1520px;">
        @for (int a = 0; a < Model.CategoryTypes.Count; a++)
        {
            var categories = Model.Categories?.Where(x => (int)x.Type == a).ToList();
            <div id="divCategoryType-@(a)-charts" class="categoryType-tab-pane-charts p-0 @(a == 0 ? "show" : string.Empty)">
                @for (int b = 0; b < categories.Count; b++)
                {
                    <div id="divCategoryType-@(a.ToString() + "-category-" + b.ToString())-charts" class="category-tab-pane-charts @((b == 0) ? "show" : string.Empty)">
                        <div id="divCategoryType-@(a.ToString() + "-category-" + b.ToString() + "-level-NA")-charts" class="row charts-container category-results-charts" data-gameid="@Model.ID" data-categorytype="@(((int)categories[b].Type))" data-categoryid="@categories[b].ID">
                            <div class="chart-container" data-index="0"></div>
                            <div class="chart-container pl-2" data-index="1"></div>
                            <div class="chart-container pl-2" data-index="2"></div>
                        </div>
                        <div class="level-results-charts">
                            @for (int c = 0; c < Model.Levels.Count; c++)
                            {
                                <div id="divCategoryType-@(a.ToString() + "-category-" + b.ToString() + "-level-" + c.ToString())-charts" class="row charts-container level-tab-pane-charts" data-gameid="@Model.ID" data-categorytype="@(((int)categories[b].Type))" data-categoryid="@categories[b].ID" data-levelid="@Model.Levels[c].ID">
                                    <div class="chart-container" data-index="0"></div>
                                    <div class="chart-container pl-2" data-index="1"></div>
                                    <div class="chart-container pl-2" data-index="2"></div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <div class="grid-container mx-auto" style="width:50%;">
        <div class="row no-gutters p-1">
            <div class="col-auto align-self-end ">
                <label class="font-weight-bold">Category Type:</label>
            </div>
            <div class="col pl-2">
                <ul class="nav nav-pills">
                    @for (int d = 0; d < Model.CategoryTypes.Count; d++)
                    {
                        <li class="nav-item categoryType">
                            <a id="pills-ankCategoryType-@(d)-tab" class="nav-link @(d == 0 ? "active" : string.Empty)" href="#divCategoryType-@(d)" data-toggle="pill">@Model.CategoryTypes[d].ToString()</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        @for (int e = 0; e < Model.CategoryTypes.Count; e++)
        {
            var categories = Model.Categories?.Where(x => (int)x.Type == e).ToList();
            <div id="divCategoryType-@(e)" class="categoryType-tab-pane p-0 @(e == 0 ? "show" : string.Empty)">
                <div class="category-tabs row no-gutters px-1 pt-1 pb-0 scroller-tab-wrapper">
                    <div class="col align-self-end"><label class="font-weight-bold">Category:</label></div>
                    <div class="col-11 pl-2">
                        <div class="row no-gutters">
                            <div class="scroller-tab scroller-tab-left" style="width:25px;"><i class="fa fa-angle-left"></i></div>
                            <div class="col scroller-tab-list-container">
                                <ul class="nav nav-tabs scroller-tab-list">
                                    @for (int g = 0; g < categories.Count; g++)
                                    {
                                        <li class="nav-item category">
                                            <a id="ankCategoryType-@(e.ToString() + "-category-" + g.ToString())-tab" class="nav-link @((g == 0) ? "active" : string.Empty)" href="#divCategoryType-@(e.ToString() + "-category-" + g.ToString())" data-toggle="tab" data-categorytype="@(((int)categories[g].Type))">@categories[g].Name</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="scroller-tab scroller-tab-right" style="width:25px;"><i class="fa fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                @for (int h = 0; h < categories.Count; h++)
                {
                    <div id="divCategoryType-@(e.ToString() + "-category-" + h.ToString())" class="category-tab-pane @((h == 0) ? "show" : string.Empty)">
                        <div class="level-tabs row no-gutters px-1 pt-1 pb-0 scroller-tab-wrapper">
                            <div class="col align-self-end"><label class="font-weight-bold">Level:</label></div>
                            <div class="col-11 pl-2">
                                <div class="row no-gutters">
                                    <div class="scroller-tab scroller-tab-left" style="width:25px;"><i class="fa fa-angle-left"></i></div>
                                    <div class="col scroller-tab-list-container">
                                        <ul class="nav nav-tabs scroller-tab-list">
                                            @for (int i = 0; i < Model.Levels.Count; i++)
                                            {
                                                <li class="nav-item level">
                                                    <a id="ankCategoryType-@(e.ToString() + "-category-" + h.ToString() + "-level-" + i.ToString())-tab" class="nav-link @((i == 0) ? "active" : string.Empty)" href="#divCategoryType-@(e.ToString() + "-category-" + h.ToString() + "-level-" + i.ToString())" data-toggle="tab">@Model.Levels[i].Name</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="scroller-tab scroller-tab-right" style="width:25px;"><i class="fa fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div id="divCategoryType-@(e.ToString() + "-category-" + h.ToString() + "-level-NA")" class="category-results" data-gameid="@Model.ID" data-categorytype="@(((int)categories[h].Type))" data-categoryid="@categories[h].ID">
                            <table class="grid"></table>
                            <div id="divPager-@(e.ToString() + "-category-" + h.ToString() + "-level-NA")" class="pager"></div>
                        </div>
                        <div class="level-results">
                            @for (int j = 0; j < Model.Levels.Count; j++)
                            {
                                <div id="divCategoryType-@(e.ToString() + "-category-" + h.ToString() + "-level-" + j.ToString())" class="level-tab-pane" data-gameid="@Model.ID" data-categorytype="@(((int)categories[h].Type))" data-categoryid="@categories[h].ID" data-levelid="@Model.Levels[j].ID">
                                    <table class="grid"></table>
                                    <div id="divPager-@(e.ToString() + "-category-" + h.ToString() + "-level-" + j.ToString())" class="pager"></div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
<div id="videoLinkModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="height:700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div id="loading">
                    <div class="d-flex">
                        <div class="mx-auto">
                            <i class="fa fa-spinner fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>















