@using SpeedRunApp.Model.ViewModels;
@model SpeedRunApp.Model.ViewModels.GameDetailsViewModel

@{
    ViewBag.Title = "GameDetails";
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

@section Styles {
    <link rel="stylesheet" href="~/lib/free-jqgrid/css/ui.jqgrid.css" />
    <link rel="stylesheet" href="~/css/free-jqgrid-custom.css" />
    <link rel="stylesheet" href="~/css/scroller-tab.css" />
    <link rel="stylesheet" href="~/css/game-details.css" />
}

@section Scripts {
    <script src="@Url.Content("~/lib/free-jqgrid/jquery.jqgrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/moment.js/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/fusioncharts/fusioncharts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/fusioncharts/fusioncharts.charts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/fusioncharts/fusioncharts.widgets.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/fusioncharts/themes/fusioncharts.theme.fusion.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/jquery-fusioncharts/dist/fusioncharts.jqueryplugin.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/js/dashboard-loader.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/chart-loader.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/helpers/date-helper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/helpers/ajax-helper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/helpers/template-helper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/helpers/math-helper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/chart-definitions/fusion-multi-series-chart.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/js/charts/chart-definitions/fusion-pie-chart.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/chart-definitions/fusion-stacked-bar-chart.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/chart-definitions/fusion-multi-series-line-chart.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/js/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/game-details.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/scroller-tab.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/speed-runs-reported-configuration.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/speed-runs-reported-controller.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/speed-runs-by-user-configuration.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/speed-runs-by-user-controller.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/speed-run-summary-by-month-configuration.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/speed-run-summary-by-month-controller.js")" type="text/javascript"></script>
    <script>
        $().ready(
            initializeClient(@Html.Raw(Json.Serialize(Model.SpeedRunGridVM.CategoryTypes)), @Html.Raw(Json.Serialize(Model.SpeedRunGridVM.Games)), @Html.Raw(Json.Serialize(Model.SpeedRunGridVM.Categories)), @Html.Raw(Json.Serialize(Model.SpeedRunGridVM.Levels)))
        );
    </script>
}

<div class="container-fluid">
    <div class="container ml-0">
        <div class="row no-gutters p-0 d-flex">
            <div class="p-2 col-sm-2 align-self-center">
                <div class="img-round">
                    <img src="@Model.CoverImageUri" alt="Responsive image">
                </div>
            </div>
            <div class="p-2 align-self-end">
                <h2 class="m-0">@Model.Name</h2>
            </div>
        </div>
    </div>
    <div class="container ml-0 pt-4">
        @await Html.PartialAsync("_SearchSpeedRunGrid", Model.SpeedRunGridVM)
    </div>
    <div id="divGameSpeedRunGrid" class="pt-4 pl-3">
        @await Html.PartialAsync("_SpeedRunGrid", Model.SpeedRunGridVM)
    </div>
    <input type="hidden" id="hdnGameID" name="gameID" value="@Html.DisplayFor(i=>i.ID)" />
</div>
<div id="videoLinkModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="height:700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="loading">
                    <div class="d-flex">
                        <div class="mx-auto">
                            <i class="fa fa-spinner fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>















