@using SpeedRunApp.Model.ViewModels;
@using SpeedRunApp.WebUI.Helpers;
@using Microsoft.AspNetCore.Html;
@using SpeedRunCommon;
@model SpeedRunApp.Model.ViewModels.GameDetailsViewModel

@{
    ViewBag.Title = "GameDetails";
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

@section Styles {
    <link rel="stylesheet" href="~/lib/free-jqgrid/css/ui.jqgrid.css" />
    <link rel="stylesheet" href="~/css/free-jqgrid-custom.css" />
    <link rel="stylesheet" href="~/css/scroller-tab.css" />
    <style>
        .options a:not(:first-child) {
            padding-left: 5px;
        }
    </style>
}

@section Scripts {
    <script src="@Url.Content("~/lib/free-jqgrid/jquery.jqgrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/moment.js/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/fusioncharts/fusioncharts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/fusioncharts/fusioncharts.charts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/fusioncharts/fusioncharts.widgets.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/fusioncharts/themes/fusioncharts.theme.fusion.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/jquery-fusioncharts/dist/fusioncharts.jqueryplugin.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/js/dashboard-loader.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/chart-loader.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/helpers/date-helper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/helpers/ajax-helper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/helpers/template-helper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/helpers/math-helper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/chart-definitions/fusion-multi-series-chart.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/js/charts/chart-definitions/fusion-pie-chart.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/chart-definitions/fusion-stacked-bar-chart.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/chart-definitions/fusion-multi-series-line-chart.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/js/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/game-details.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/scroller-tab.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/speed-runs-reported-configuration.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/speed-runs-reported-controller.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/speed-runs-by-user-configuration.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/speed-runs-by-user-controller.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/speed-run-summary-by-month-configuration.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/speed-run-summary-by-month-controller.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $().ready(function () {
            var _searchCategoryTypes = @Html.Raw(Json.Serialize(Model.SearchCategoryTypes));
            var _searchGames = @Html.Raw(Json.Serialize(Model.SearchGames));
            var _searchCategories = @Html.Raw(Json.Serialize(Model.SearchCategories));
            var _searchLevels = @Html.Raw(Json.Serialize(Model.SearchLevels));

            initializeClient(_searchCategoryTypes, _searchGames, _searchCategories, _searchLevels);
        });
    </script>
}

<div class="container-fluid">
    <div class="container ml-0">
        <div class="row no-gutters p-0 d-flex">
            <div class="p-2 col-sm-2 align-self-center">
                <div class="img-round">
                    <img src="@Model.CoverImageUri" alt="Responsive image">
                </div>
            </div>
            <div class="p-2 align-self-end">
                <h2 class="m-0">@Model.Name</h2>
            </div>
        </div>
    </div>
    <div class="container ml-0">
        <h4>Details</h4>
        <div class="pl-3 pt-2">
            <div class="row no-gutters pt-1">
                <div class="form-group">
                    <label for="spnYearOfRelease">Release Year</label>
                    <span id="spnYearOfRelease">@Model.YearOfRelease</span>
                </div>
            </div>
            <div class="row no-gutters pt-1">
                <div class="form-group">
                    <label for="spnPlatforms">Platforms</label>
                    <span id="spnJapaneseName">
                        @(string.Join(", ", Model.Platforms.Select(i => i.Name)))
                    </span>
                </div>
            </div>
            <div class="row no-gutters pt-1">
                <div class="form-group">
                    <label for="spnModerators">Moderators</label>
                    <span id="spnModerators">
                        @Html.CommaSeparated(Model.ModeratorUsers.Select(i => Html.ActionLink(i.Name, "UserDetails", "User", new { userID = i.ID }).ToHtmlString()))
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-2">
        <h4>SpeedRuns</h4>
        <div class="container ml-0 pt-2">
            @await Html.PartialAsync("_SearchSpeedRunGrid", new SearchSpeedRunGridViewModel("Game", Model.SearchCategoryTypes, Model.SearchGames, Model.SearchCategories, Model.SearchLevels))
        </div>
        <div id="divSpeedRunGrid" class="pt-2 pl-3">
        </div>
        <div id="divSpeedRunGridLoading" class="pt-4 pl-3">
            <div class="container ml-0">
                <div class="progress" style="max-width:1175px;">
                    <div id="divSpeedRunGridProgressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;"></div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hdnGameID" name="gameID" value="@Html.DisplayFor(i=>i.ID)" />
</div>
<div id="videoLinkModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="height:700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="display:none;">
            </div>
            <div class="modal-loading">
                <div class="container d-flex" style="height:465px;">
                    <div class="mx-auto align-self-center">
                        <i class="fa fa-spinner fa-spin fa-lg"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>















