@using SpeedRunCommon;
@model SpeedRunApp.Model.ViewModels.GameViewModel

@section Styles {
    <link rel="stylesheet" href="~/lib/free-jqgrid/css/ui.jqgrid.css" />
    <link rel="stylesheet" href="~/css/free-jqgrid-custom.css" />
    <link rel="stylesheet" href="~/css/scroller-tab.css" />
    <style>
        .options a:not(:first-child) {
            padding-left: 5px;
        }
        /*
        .grid-container {
            width:100%;
        }*/
    </style>
}

@section Scripts {
    <script src="@Url.Content("~/lib/free-jqgrid/jquery.jqgrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/moment.js/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/jquery.mousewheel/jquery.mousewheel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/scroller-tab.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/fusioncharts/fusioncharts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/fusioncharts/fusioncharts.charts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/fusioncharts/fusioncharts.widgets.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/fusioncharts/fusioncharts.excelexport.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/fusioncharts/themes/fusioncharts.theme.fusion.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/fusioncharts/themes/fusioncharts.theme.candy.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/jquery-fusioncharts/dist/fusioncharts.jqueryplugin.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/chart-definitions/fusion-multi-series-chart.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/chart-definitions/fusion-pie-chart.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/chart-definitions/fusion-stacked-bar-chart.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/chart-definitions/fusion-multi-series-line-chart.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/js/helpers/date-helper.js?v=12/22/2020")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/helpers/math-helper.js?v=12/22/2020")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/common.js?v=12/22/2020")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/game-top-speed-runs-chart.js?v=12/22/2020")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/game-speed-runs-by-month-chart.js?v=12/22/2020")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/charts/game-details-charts/game-speed-runs-percentile-chart.js?v=12/22/2020")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/speedrun-edit.js?v=12/22/2020")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/speedrun-grid.js?v=03/15/2021")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/game-details.js?v=12/22/2020")" type="text/javascript"></script>

    <script type="text/javascript">
        $().ready(function () {
            var _gameID = @Html.Raw(Json.Serialize(Model.ID));

            initializeClient(_gameID);
        });
    </script>
}

<div class="container-fluid p-0">
    <div class="container ml-0 p-2 d-flex">
        <div class="col-sm-2 p-2 align-self-end">
            <div class="img-round">
                <img src="@Model.CoverImageUri" class="img-fluid" alt="Responsive image">
            </div>
        </div>
        <div class="col-sm-auto p-2 align-self-end">
            <h3 class="m-0">@Model.Name</h3>
        </div>
    </div>
    <div class="container ml-0 p-2 pt-3">
        <h4>Details</h4>
        <div class="pl-3">
            <div class="form-group row no-gutters">
                <label for="spnYearOfRelease" class="col-sm-2 col-form-label">Release Year</label>
                <div class="col-sm-10 col-form-label">
                    <span id="spnYearOfRelease">@Model.YearOfRelease</span>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label for="spnPlatforms" class="col-sm-2 col-form-label">Platforms</label>
                <div class="col-sm-10 col-form-label">
                    <span id="spnPlatforms">@Model.PlatformsString</span>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label for="spnModerators" class="col-sm-2 col-form-label">Moderators</label>
                <div class="col-sm-10 col-form-label">
                    <span id="spnModerators">
                        @Html.CommaSeparated(Model.Moderators.Select(i => Html.ActionLink(i.Name, "UserDetails", "User", new { userID = i.ID }).ToHtmlString()))
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-2 pt-3">
        <h4>Leaderboards</h4>
        <div id="divSearchSpeedRunGridContainer" class="container ml-0 pt-2">
        </div>
        <div id="divSpeedRunGridContainer" class="pl-3 pt-2">
        </div>
        <div id="divSpeedRunGridLoading" class="pl-3 pt-2">
            <div class="container d-flex ml-0" style="height:465px;">
                <div class="mx-auto align-self-center">
                    <div class="mx-auto" style="width:30px;">
                        <i class="fa fa-spinner fa-spin fa-lg"></i>
                    </div>
                    <div class="mx-auto pt-1">
                        <span id="spnLoadingMessage"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header p-0">
                <div class="modal-title container" id="modal-title"></div>
                <button type="button" class="close m-1" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0" style="display:none;">
            </div>
            <div class="modal-loading">
                <div class="container d-flex" style="height:465px;">
                    <div class="mx-auto align-self-center">
                        <i class="fa fa-spinner fa-spin fa-lg"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
















